.button {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 48px /* plasmic-token: elCkDIk6u */;
  background: #0176b2;
  flex-direction: row;
  border-radius: 24px;
  padding: 12px 16px /* plasmic-token: 2ttKofgBn */;
  border-width: 1px;
  border-style: none;
}
.button > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.buttonemphasis_mid {
  width: auto;
  height: 48px;
  background: #ffffff;
  flex-direction: row;
  display: inline-flex;
  border-radius: 24px;
  padding: 12px 16px /* plasmic-token: 2ttKofgBn */;
  border: 1px solid #0176b2 /* plasmic-token: gWz5Y-CgE */;
}
.buttonemphasis_mid > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttonemphasis_mid > :global(.__wab_flex-container) > *,
.buttonemphasis_mid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonemphasis_mid > :global(.__wab_flex-container) > picture > img,
.buttonemphasis_mid
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.buttonemphasis_low {
  width: auto;
  height: 48px;
  background: #ffffff;
  flex-direction: row;
  display: inline-flex;
  border-radius: 24px;
  padding: 12px 8px;
  border: 1px none #0176b2 /* plasmic-token: gWz5Y-CgE */;
}
.buttonemphasis_low > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttonemphasis_low > :global(.__wab_flex-container) > *,
.buttonemphasis_low > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonemphasis_low > :global(.__wab_flex-container) > picture > img,
.buttonemphasis_low
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.buttonsize_medium {
  height: 36px;
  padding: 6px 14px;
}
.button:hover {
  background: #0f5d90;
}
.buttonemphasis_mid:hover {
  width: auto;
  height: 48px;
  background: linear-gradient(#0000000d, #0000000d), #ffffff;
  flex-direction: row;
  display: inline-flex;
  border-radius: 24px;
  padding: 12px 16px /* plasmic-token: 2ttKofgBn */;
  border: 1px solid #0176b2 /* plasmic-token: gWz5Y-CgE */;
}
.buttonemphasis_mid:hover > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttonemphasis_mid:hover > :global(.__wab_flex-container) > *,
.buttonemphasis_mid:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttonemphasis_mid:hover > :global(.__wab_flex-container) > picture > img,
.buttonemphasis_mid:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.buttonemphasis_low:hover {
  width: auto;
  height: 48px;
  background: linear-gradient(#0000000d, #0000000d), #ffffff;
  flex-direction: row;
  display: inline-flex;
  border-radius: 24px;
  padding: 12px 8px;
  border: 1px none #0176b2 /* plasmic-token: gWz5Y-CgE */;
}
.buttonemphasis_low:hover > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttonemphasis_low:hover > :global(.__wab_flex-container) > *,
.buttonemphasis_low:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttonemphasis_low:hover > :global(.__wab_flex-container) > picture > img,
.buttonemphasis_low:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.buttonemphasis_mid_size_medium:hover {
  height: 36px;
  padding: 6px 14px;
}
.button:disabled {
  background: #00000008;
}
.buttonemphasis_mid:disabled {
  border-color: #00000061 /* plasmic-token: JPjqzhoHI */;
}
.buttonemphasis_low:disabled {
  background: none;
}
.slotTargetLeadingIcon {
  color: #ffffffe6 /* plasmic-token: erWzhkYuy */;
}
.slotTargetLeadingIconemphasis_mid {
  color: #0176b2 /* plasmic-token: gWz5Y-CgE */;
}
.slotTargetLeadingIconemphasis_low {
  color: #0176b2 /* plasmic-token: gWz5Y-CgE */;
}
.button:disabled .slotTargetLeadingIcon {
  color: #00000033 /* plasmic-token: ckkQM9bpg */;
}
.svg__diEkT {
  position: relative;
  object-fit: cover;
  width: 24px /* plasmic-token: WuuvJUssJ */;
  height: 24px /* plasmic-token: WuuvJUssJ */;
  margin-right: 8px /* plasmic-token: J8cB5xYM_ */;
  flex-shrink: 0;
}
.text {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px /* plasmic-token: D-YeiePbX */;
  font-weight: 400;
  color: #ffffff /* plasmic-token: FAPfRbGKl */;
  text-align: center;
  line-height: 18px;
  position: relative;
  display: block;
}
.textemphasis_mid {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px /* plasmic-token: D-YeiePbX */;
  font-weight: 400;
  color: #0176b2 /* plasmic-token: gWz5Y-CgE */;
  line-height: 18px;
  text-align: center;
}
.textemphasis_low {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px /* plasmic-token: D-YeiePbX */;
  font-weight: 400;
  color: #0176b2 /* plasmic-token: gWz5Y-CgE */;
  line-height: 18px;
  text-align: center;
}
.button:disabled .text {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px /* plasmic-token: D-YeiePbX */;
  font-weight: 400;
  color: #00000047 /* plasmic-token: lYY8HPggf */;
  line-height: 18px;
  text-align: center;
}
.slotTargetTrailingIcon {
  color: #ffffffe6 /* plasmic-token: erWzhkYuy */;
}
.slotTargetTrailingIconemphasis_mid {
  color: #0176b2 /* plasmic-token: gWz5Y-CgE */;
}
.slotTargetTrailingIconemphasis_low {
  color: #0176b2 /* plasmic-token: gWz5Y-CgE */;
}
.button:disabled .slotTargetTrailingIcon {
  color: #00000033 /* plasmic-token: ckkQM9bpg */;
}
.svg__wkNqm {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
